#blocklyDiv {
    height: 480px;
    width: 100%;
    border: 1px solid #ccc;
}

.buttons {
    margin-top: 20px;
}

#generatedCode {
    margin-top: 20px;
    font-family: monospace;
    background-color: #f1f1f1;
    padding: 10px;
}
